# LINE Messaging API
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=

# Google Gemini API
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.1-flash-lite-preview

# MongoDB
MONGODB_URI=mongodb://localhost:27017/line-it-support

# Server
PORT=3002

API_ASSET=http://asset.jastel.internal/api

# IT Support Contact
ADMIN_GROUP_ID=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=nontakorn.joe01@gmail.com
SMTP_PASS=gevcfiiczqtxyyia

#start cloudflared tunnel
#--cloudflared tunnel --url http://localhost:3002